{% load static %}
<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">
<head>
    <title>Larry De La Muala</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'phone_book/images/icon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100%;">

<style>
.special-roboto{
    font-family: 'Roboto', sans-serif;
}

.special-josefin{
    font-family: 'Josefin Sans', sans-serif;
}

.signature-font{
    font-family: 'Great Vibes', cursive;
}

.uniform-text-color{
    /* color: white; */
    color: black;
}

.phone-book-container{
    max-width: 300px;
    width: 300px;
    vertical-align: top;
    padding: 10px;
    margin: 30px auto;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.realm-digital-logo{
    width: 60%%;
    padding: 2px;
    box-shadow: 0 1px 50px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
}

.modal-item-custom-style{
    font-weight: 800;
    padding: 5px;
}


/* Custom Scrollbar */
/* width */
.custom-scroll-bar ::-webkit-scrollbar { width: 10px; }
/* Track */
.custom-scroll-bar ::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey; border-radius: 0px; }
/* Handle */
.custom-scroll-bar ::-webkit-scrollbar-thumb { background: rgba(203, 52, 52, .9); border-radius: 0px; }
/* Handle on hover */
.custom-scroll-bar ::-webkit-scrollbar-thumb:hover { background: rgba(203, 52, 52, 1); }
/* End Custom Scrollbar */

/* Slide Anime */
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

@media screen and (max-width: 940px){

}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 320px){

}
</style>

{% block page_css %}

{% endblock %}

{% block page_content %}

{% endblock %}


<!-- No JS Handler -->
<noscript>
<div style="position: fixed; right: 0; top: 60px; padding: 16px 9.5px 0 9.5px; text-align: center; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <p class="special-josefin">Please <span style="font-weight: bold;">Enable Javascript</span> on your browser <br>to fully enjoy the features of this site.</p>
    <p class="signature-font" style="font-size: 20pt;">Thank You</p>
</div>
</noscript>
<!-- End No JS Handler -->

<script>
$(document).ready(function () {
    
    /* Popover */
    $('[data-toggle="popover"]').popover();
    
    /* Tooltip */
    $('[data-toggle="tooltip"]').tooltip();
    
});

/* Slide Anime */
$(window).scroll(function() {
    $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
        $(this).addClass("slide");
    }
    });
});
</script>

{% block page_js %}

{% endblock %}

</body>
</html>
