{% extends "phone_book/base.html" %}
{% load static %}

{% block page_css %}
<style>
.contacts-list-results-menu{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    max-height: 220px;
    overflow-y: scroll;
    text-align: left;
}
.contact-entry, .contact-entry-no-result{
    list-style-type: none;
    margin: 10px;
}
.contact-entry-anchor{
    text-decoration: none;
    color: black;
}
</style>
{% endblock %}

{% block page_content %}
<div style="width: 100%; text-align: center;">
    <div class="phone-book-container special-roboto">
        <div>
            <img src="{% static 'phone_book/images/realm-digital.png' %}" class="realm-digital-logo" >
        </div>
        <div class="uniform-text-color">
            <h2>{{user.name}} Phone Book</h2>
            <br>
        </div>
        <div>
            <div style="float: left;">
                <a href="{% url 'phone_book:index' %}" class="btn btn-default"><i class="glyphicon glyphicon-home" style="color: #2f4f4f;"></i></a>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#phone-book-edit-modal"><i class="glyphicon glyphicon-cog"></i></button>
            </div>
        </div>
        <div>
            <div class="uniform-text-color">
                <h2>Contact List</h2>
            </div>
            <br>
            <div style="float: left;">
                <p class="uniform-text-color">Number of contacts: {{contacts_list|length}}</p>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-contact-modal"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-plus-sign" style="color: brown;"></i></button>
            </div>
            <div style="clear: both;">
            </div>
            <br>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="contacts-search-bar" class="form-control" onkeyup="contact_lookup()" placeholder="Search name.." title="Type in a name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="display_all_contacts()">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="contacts-list-results-menu" class="contacts-list-results-menu" style="display: none;">
                {% if contacts_list %}
                <ul id="contacts-list"></ul>
                    {% for contact in contacts_list %}
                    <li class="contact-entry">
                        <a id="{{contact.id}}" class="contact-entry-anchor" href="#" data-toggle="modal" data-target="#contact-entry-modal" onclick="trigger_contact_popup('{{contact.id}}', '{{contact.name}}', '{{contact.first_name}}', '{{contact.last_name}}', '{{contact.contact_numbers_list}}', '{{contact.contact_emails_list}}');">
                            <span>{{contact.name}}</span> 
                            <br><span><i class="glyphicon glyphicon-phone"></i> {{contact.contact_numbers|length}}</span>
                            <span> | <i class="glyphicon glyphicon-envelope"></i> {{contact.contact_emails|length}}</span>
                        </a>
                    </li>
                    <hr style="margin-top: 0px; margin-bottom: 0px;">
                    {% endfor %}
                </ul>
                <ul id="no-results" style="display: none;">
                    <li class="contact-entry-no-result">No contact found...</li>
                </ul>
                {% else %}
                <ul>
                    <li class="contact-entry-no-result">No contact in phone book...</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Create Contact Pop up -->
<div class="modal fade" id="create-contact-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9); padding: 20px;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Add New Contact</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:create_contacts' %}" method="POST" onsubmit="collect_contact_details('contact-numbers-holders', 'new-contact-numbers'); collect_contact_details('contact-email-holders', 'new-contact-emails');">
                    <div>
                        <input type="hidden" style="display: none;" id="new-contact-phone-book-id" name="new-contact-phone-book-id" value="{{user.id}}">
                        <input type="hidden" style="display: none;" id="new-contact-numbers" name="new-contact-numbers">
                        <input type="hidden" style="display: none;" id="new-contact-emails" name="new-contact-emails">
                        <p><span class="modal-item-custom-style">First Name:</span> <br><input type="text" class="form-control" style="width: auto; display: inline;" id="new-contact-first-name" name="new-contact-first-name" placeholder="Enter first name..." required="required"></p>
                        <p><span class="modal-item-custom-style">Last Name:</span> <br><input type="text" class="form-control" style="width: auto; display: inline;" id="new-contact-last-name" name="new-contact-last-name" placeholder="Enter last name..." required="required"></p>
                        <p>
                            <span class="modal-item-custom-style">Number:</span> 
                            <span id="add-new-number-container">
                                <br><input type="text" class="form-control contact-numbers-holders" style="width: auto; display: inline;" placeholder="Enter number...">
                            </span>
                        </p>
                        <button type="button" class="btn btn-default" onclick="add_container_holder('add-new-number-container', 'contact-numbers-holders', 'Enter number...')">
                            <i class="glyphicon glyphicon-phone"></i>
                            <i class="glyphicon glyphicon-plus-sign" style="color: brown;"></i>
                        </button>
                        <br>
                        <p>
                            <span class="modal-item-custom-style">Email:</span> 
                            <span id="add-new-email-container">
                                <br><input type="text" class="form-control contact-email-holders" style="width: auto; display: inline;" placeholder="Enter email...">
                            </span>
                        </p>
                        <button type="button" class="btn btn-default" onclick="add_container_holder('add-new-email-container', 'contact-email-holders', 'Enter email...')">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <i class="glyphicon glyphicon-plus-sign" style="color: brown;"></i>
                        </button>
                        <br>
                        <br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Save</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Pop up -->

<!-- Edit Phone Book Pop up -->
<div class="modal fade" id="phone-book-edit-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9); padding: 20px;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Edit Phone Book</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:edit_user_phone_book' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="phone-book-id" name="phone-book-id" value="{{user.id}}">
                        <p><span class="modal-item-custom-style">Name:</span> <input type="text" class="form-control" style="width: auto; display: inline;" id="phone-book-name" name="phone-book-name" value="{{user.name}}"></p>
                        <br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin: auto; margin-right: 15px;">Save</button>
                        <button type="button" class="btn btn-default" style="margin: auto; margin-right: 15px;" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" style="margin: auto;" data-toggle="modal" data-target="#phone-book-delete-modal">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Phone Book Pop up -->

<!-- Phone Book Delete Pop up -->
<!-- Modal -->
<div class="modal fade" id="phone-book-delete-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Delete Phone Book</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>Are you sure that you want to delete this phone book and all its contacts?</p>
                </div>
                <form action="{% url 'phone_book:delete_user_phone_book' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="phone-book-delete-id" name="phone-book-delete-id" value="{{user.id}}">
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Yes</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Phone Book Delete Pop up-->

<!-- Contact Entry Pop up -->
<script>
function trigger_contact_popup(passed_contact_id, passed_contact_name, passed_contact_first_name, passed_contact_last_name, passed_contact_number, passed_contact_email) {
    document.getElementById('contact-id').value = passed_contact_id;
    document.getElementById('contact-name').innerHTML = passed_contact_name;
    document.getElementById('contact-first-name').value = passed_contact_first_name;
    document.getElementById('contact-last-name').value = passed_contact_last_name;

    var contact_numbers_list = passed_contact_number.split('|');
    var container_holder = document.getElementById("contact-entry-numbers-holder");
    container_holder.innerHTML = "";
    var container_holder_editor = document.getElementById("contact-edit-numbers-holder");
    container_holder_editor.innerHTML = "";

    for (i = 0; i < contact_numbers_list.length; i++) {
        if (contact_numbers_list[i]) {
            var p = document.createElement("p");
            var icon = "<i class='glyphicon glyphicon-phone'></i>";
            p.innerHTML = icon + "<span class='modal-item-custom-style'>Number: " + String(contact_numbers_list[i]) + "</span>";
            
            var call_button = document.createElement("button");
            call_button.setAttribute('type', 'button');
            call_button.setAttribute('class', 'btn btn-success');
            call_button.setAttribute('style', 'margin: auto; margin-right: 15px; margin-left: 20px;');

            var call_link = document.createElement("a");
            call_link.setAttribute('style', 'text-decoration: none; color: inherit;');
            call_link.setAttribute('href', String('tel:' + contact_numbers_list[i]));
            call_link.innerText = "Call";

            call_button.appendChild(call_link);
            p.appendChild(call_button);
            container_holder.appendChild(p);

            var p = document.createElement("p");
            var br = document.createElement("br");
            var span = document.createElement("span");
            span.setAttribute('class', 'modal-item-custom-style');
            span.innerText = "Number: ";
            var input = document.createElement("input");
            input.setAttribute('type', 'text');
            input.setAttribute('class', 'form-control custom-edit-number-entry');
            input.setAttribute('style', 'width: auto; display: inline;');
            input.setAttribute('value', String(contact_numbers_list[i]));
            var button = document.createElement("button");
            button.setAttribute('type', 'button');
            button.setAttribute('class', 'btn btn-default');
            button.setAttribute('style', 'margin: auto; margin-left: 20px;');
            button.setAttribute('data-toggle', 'modal');
            button.setAttribute('data-target', '#contact-number-delete-modal');
            button.innerHTML = "<i onclick='assign_number_to_delete(" + passed_contact_id + "," + JSON.stringify(contact_numbers_list[i]) + ");' class='glyphicon glyphicon-remove-sign' style='color: brown; font-size: 18px;'></i>";

            p.appendChild(span);
            p.appendChild(br);
            p.appendChild(input);
            p.appendChild(button);
            container_holder_editor.appendChild(p);
        }
    }

    var contact_emails_list = passed_contact_email.split('|');
    var container_holder = document.getElementById("contact-entry-emails-holder");
    container_holder.innerHTML = "";
    var container_holder_editor = document.getElementById("contact-edit-emails-holder");
    container_holder_editor.innerHTML = "";

    for (i = 0; i < contact_emails_list.length; i++) {
        if (contact_emails_list[i]) {
            var p = document.createElement("p");
            var icon = "<i class='glyphicon glyphicon-envelope'></i>";
            p.innerHTML = icon + "<span class='modal-item-custom-style'>Email: " + String(contact_emails_list[i]) + "</span>";
            
            var call_button = document.createElement("button");
            call_button.setAttribute('type', 'button');
            call_button.setAttribute('class', 'btn btn-success');
            call_button.setAttribute('style', 'margin: auto; margin-right: 15px; margin-left: 20px;');

            var call_link = document.createElement("a");
            call_link.setAttribute('style', 'text-decoration: none; color: inherit;');
            call_link.setAttribute('href', String('mailto:' + contact_emails_list[i]));
            call_link.innerText = "Send";

            call_button.appendChild(call_link);
            p.appendChild(call_button);
            container_holder.appendChild(p);

            var p = document.createElement("p");
            var br = document.createElement("br");
            var span = document.createElement("span");
            span.setAttribute('class', 'modal-item-custom-style');
            span.innerText = "Email: ";
            var input = document.createElement("input");
            input.setAttribute('type', 'text');
            input.setAttribute('class', 'form-control custom-edit-email-entry');
            input.setAttribute('style', 'width: auto; display: inline;');
            input.setAttribute('value', String(contact_emails_list[i]));
            var button = document.createElement("button");
            button.setAttribute('type', 'button');
            button.setAttribute('class', 'btn btn-default');
            button.setAttribute('style', 'margin: auto; margin-left: 20px;');
            button.setAttribute('data-toggle', 'modal');
            button.setAttribute('data-target', '#contact-email-delete-modal');
            button.innerHTML = "<i onclick='assign_email_to_delete(" + passed_contact_id + ", " + JSON.stringify(contact_emails_list[i]) + ");' class='glyphicon glyphicon-remove-sign' style='color: brown; font-size: 18px;'></i>";

            p.appendChild(span);
            p.appendChild(br);
            p.appendChild(input);
            p.appendChild(button);
            container_holder_editor.appendChild(p);
        }
    }
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-entry-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);  background-size: 50% 100%; background-position: right; background-repeat: no-repeat; min-width: 100%;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Contact Details</h3>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" style="display: none;" id="contact-id">
                    <input type="hidden" style="display: none;" id="contact-first-name">
                    <input type="hidden" style="display: none;" id="contact-last-name">
                    <p><i class="glyphicon glyphicon-user"></i> <span class="modal-item-custom-style">Name:</span> <span id="contact-name"></span></p>
                    <hr />
                    
                    <span id="contact-entry-numbers-holder">
                    </span>
                    <hr />
                    
                    <span id="contact-entry-emails-holder">
                    </span>
                    <hr />

                    <br>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" style="margin: auto; margin-right: 15px;" data-toggle="modal" data-target="#contact-edit-modal" onclick="trigger_edit_popup()">Edit</button>
                    <button type="button" class="btn btn-danger" style="margin: auto;" data-toggle="modal" data-target="#contact-delete-modal" onclick="trigger_delete_popup()">Delete</button>
                </div>
            </div>
            <div class="modal-footer" style="border: none; width: 100%; text-align: center;">
                <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Entry Pop up-->

<!-- Contact Delete Pop up -->
<script>
function trigger_delete_popup(){
    document.getElementById('contact-delete-id').value = document.getElementById('contact-id').value;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-delete-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Delete Contact</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>Are you sure that you want to delete this contact?</p>
                </div>
                <form action="{% url 'phone_book:delete_contacts' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="contact-delete-id" name="contact-delete-id">
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Yes</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Delete Pop up-->

<!-- Contact Edit Pop up -->
<script>
function trigger_edit_popup(){
    document.getElementById('contact-edit-id').value = document.getElementById('contact-id').value;
    document.getElementById('contact-edit-first-name').value = document.getElementById('contact-first-name').value;
    document.getElementById('contact-edit-last-name').value = document.getElementById('contact-last-name').value;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-edit-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);  background-size: 50% 100%; background-position: right; background-repeat: no-repeat; min-width: 100%;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Edit Contact</h3>
            </div>
            <div class="modal-body">
                <form action="{% url 'phone_book:edit_contacts' %}" method="POST" onsubmit="collect_contact_details('custom-edit-number-entry', 'contact-edit-numbers'); collect_contact_details('custom-edit-email-entry', 'contact-edit-emails');">
                    <div>
                        <input type="hidden" style="display: none;" id="contact-edit-id" name="contact-edit-id">
                        <input type="hidden" style="display: none;" id="contact-edit-numbers" name="contact-edit-numbers">
                        <input type="hidden" style="display: none;" id="contact-edit-emails" name="contact-edit-emails">
                        <p><span class="modal-item-custom-style">First Name:</span> <br><input type="text" class="form-control" style="width: auto; display: inline;" id="contact-edit-first-name" name="contact-edit-first-name"></p>
                        <p><span class="modal-item-custom-style">Last Name:</span> <br><input type="text" class="form-control" style="width: auto; display: inline;" id="contact-edit-last-name" name="contact-edit-last-name"></p>
                        <hr>
                        <p>
                            <span id="contact-edit-numbers-holder"></span>
                        </p>
                        <button type="button" class="btn btn-default" onclick="add_container_holder('contact-edit-numbers-holder', 'custom-edit-number-entry', 'Enter number...')">
                            <i class="glyphicon glyphicon-phone"></i>
                            <i class="glyphicon glyphicon-plus-sign" style="color: #8a2be2;"></i>
                        </button>
                        <br>
                        <hr />

                        <p>
                            <span id="contact-edit-emails-holder"></span>
                        </p>
                        <button type="button" class="btn btn-default" onclick="add_container_holder('contact-edit-emails-holder', 'custom-edit-email-entry', 'Enter email...')">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <i class="glyphicon glyphicon-plus-sign" style="color: #8a2be2;"></i>
                        </button>
                        <br>
                        <br>
                        <hr />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin: auto;">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border: none; width: 100%; text-align: center;">
                <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Edit Pop up-->

<!-- Contact Number Delete Pop up -->
<script>
function assign_number_to_delete(contact_id, contact_number) {
    document.getElementById("contact-delete-number-id").value = contact_id;
    document.getElementById("contact-delete-number").value = contact_number;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-number-delete-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Delete Number</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>Are you sure that you want to delete this number?</p>
                </div>
                <form action="{% url 'phone_book:delete_contact_number' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="contact-delete-number-id" name="contact-delete-number-id">
                        <input type="hidden" style="display: none;" id="contact-delete-number" name="contact-delete-number">
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Yes</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Number Delete Pop up-->

<!-- Contact Email Delete Pop up -->
<script>
function assign_email_to_delete(contact_id, contact_email) {
    document.getElementById("contact-delete-email-id").value = contact_id;
    document.getElementById("contact-delete-email").value = contact_email;
}
</script>
<!-- Modal -->
<div class="modal fade" id="contact-email-delete-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center; background-color: rgba(169, 169, 169, .9);">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i> <br> Delete Email</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>Are you sure that you want to delete this email address?</p>
                </div>
                <form action="{% url 'phone_book:delete_contact_email' %}" method="POST">
                    <div>
                        <input type="hidden" style="display: none;" id="contact-delete-email-id" name="contact-delete-email-id">
                        <input type="hidden" style="display: none;" id="contact-delete-email" name="contact-delete-email">
                        <button type="submit" class="btn btn-danger" style="margin: auto; margin-right: 15px;">Yes</button>
                        <button type="button" class="btn btn-default" style="margin: auto;" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Email Delete Pop up-->
{% endblock %}

{% block page_js %}
<script>
function contact_lookup() {
    var input, filter, ul, li, a, i, txtValue;

    document.getElementById("no-results").style.display = "none";

    document.getElementById("contacts-list-results-menu").style.display = "";

    input = document.getElementById("contacts-search-bar");

    filter = input.value.toUpperCase();

    ul = document.getElementById("contacts-list");

    li = document.getElementsByClassName("contact-entry");

    var search_results_validator = false;

    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;

        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            search_results_validator = true;
        } else {
            li[i].style.display = "none";
        }
    }

    if (!(search_results_validator)) {
        document.getElementById("no-results").style.display = "";
    }
}

function display_all_contacts() {
    document.getElementById("contacts-list-results-menu").style.display = "";
    document.getElementById("contacts-search-bar").value = "";
    contact_lookup();
}

function collect_contact_details(custom_class_name, target_input) {
    var details_holder = document.getElementsByClassName(custom_class_name);

    for (i = 0; i < details_holder.length; i++) {
        var temp_holder = document.getElementById(target_input).value;
        temp_holder = temp_holder.concat('|');
        temp_holder = temp_holder.concat(details_holder[i].value);
        document.getElementById(target_input).value = temp_holder;
    }
}

function add_container_holder(container_id, custom_class_name, custom_placeholder) {
    var br = document.createElement("br");

    var input = document.createElement("input");
    input.setAttribute('type', 'text');
    input.setAttribute('class', custom_class_name.concat(' form-control'));
    input.setAttribute('placeholder', custom_placeholder);
    input.setAttribute('style', 'width: auto; display: inline;');

    var container_holder = document.getElementById(container_id);
    container_holder.appendChild(br);
    container_holder.appendChild(br);
    container_holder.appendChild(input);
}
</script>
{% endblock %}